NEXT_PUBLIC_APP_URL=http://localhost:3000

NODE_ENV=development
LOG_LEVEL=info

DATABASE_URL=""
DIRECT_URL=""

AUTH_SECRET="NEW_GENERATED_SECRET"
AUTH_URL=http://localhost:3000
AUTH_TRUST_HOST=true

CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

RESEND_API_KEY=""
EMAIL_FROM="S.S Construction & Engineering <hello@yourdomain.com>"

REMINDER_CRON_SECRET="RANDOM_SECRET"